# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
/bin/qtpropertybrowser.dll
/bin/ExpertReview.exe
/bin/libqtpropertybrowser.a
object_script.ExpertReview.Debug
object_script.ExpertReview.Release
Makefile
Makefile.Debug
Makefile.Release
Makefile.app
Makefile.app.Debug
Makefile.app.Release
/app/tmp
tmp
qtpropertybrowser.dll.embed.manifest
object_script.qtpropertybrowser.Debug
object_script.qtpropertybrowser.Release
*.pdb
/bin/ExpertReview.exe.embed.manifest
/bin/ExpertReview.exe_manifest.bak
/bin/ExpertReview.exe_manifest.rc
/bin/qtpropertybrowser.dll_manifest.rc
/bin/qtpropertybrowser.dll_manifest.res
/bin/qtpropertybrowser.exp
/bin/qtpropertybrowser.ilk
/bin/qtpropertybrowser.lib
